@model NewsPortal.Web.ViewModel.NewsModel

@{
    ViewBag.Title = "Details";
}
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <h2>News Details</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>
            <dt>
                Category
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "GetNewsByUser", null, new { @class = "btn btn-info" })
    </p>
</body>

</html>

<style>
    body {
        background-image: url(../../Content/img/wall.png);
        background-attachment: fixed;
    }
</style>